* {
    all: none;
    margin: 0;
}

body {
    width: 99vw;
    min-height: 99vh;
}

graph-wrapper {
    circle, path {
        // transition: 500ms cubic-bezier(1,0,0,1);
    }

    &.edit {
        circle, path {
            transition: none;
        }
    }
    
    circle {
        stroke: transparent;
        stroke-width: 10;
        r: .4;
        transition-property: cx, cy;
        fill: rgba(72, 0, 255, 0.605);

        // &:nth-child(2n + 1) {
        //     fill: rgba(247, 0, 255, 0.605);
        // }

        // &:nth-child(3n + 3) {
        //     fill: rgba(255, 21, 0, 0.605);
        // }
    }
    
    path {
        stroke: rgba(165, 165, 222, 0.523);
        stroke-width: .2;
        transition-property: d;
    }
}